<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>REGISTER</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/v1/customer/home}">Home</a></li>
            <li><a th:href="@{/v1/customer/about}">About</a></li>
            <li><a th:href="@{/v1/customer/contact}">Contact</a></li>
        </ul>
    </nav>
</header>
<main id="register-main" th:style="'background-image : url(/images/pexels-veeterzy-303383.jpg)'">
    <!--This is a thymeleaf form-->
    <form th:action="@{/v1/customer/confirm}" method="post" th:object="${theCustomer}">
        <input type="hidden" name="id" th:field="*{id}">
        <label for="firstname">First Name </label>
        <input type="text" name="firstname" id="firstname" required th:field="*{firstName}">
        <br><br>
        <label for="lastname">Last Name </label>
        <input type="text" name="lastname" id="lastname" required th:field="*{lastName}">
        <br><br>
        <label for="username">UserName </label>
        <input type="text" name="username" id="username" required th:field="*{username}">
        <br><br>
        <label for="password">Password </label>
        <input type="password" name="password" id="password" required th:field="*{password}">
        <br><br>
        <label for="region">Region </label>
        <select  name="region" id="region" required th:field="*{address.region}">
            <option value="WESTERN">WESTERN</option>
            <option value="EASTERN">EASTERN</option>
            <option value="CENTRAL">CENTRAL</option>
            <option value="VOLTA">VOLTA</option>
            <option value="BRONG AHAFO">BRONG AHAFO</option>
        </select>
        <br><br>
        <label for="city">City </label>
        <input type="text" name="city" id="city" required th:field="*{address.city}">
        <br><br>
        <input type="submit" value="REGISTER">
    </form>
</main>
</body>
</html>